In [1]:
#First let's load all the data so we can have a look at it.

In [2]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from pandas import json_normalize
import requests

# Starting with the historical weather data

In [3]:
weather = pd.read_csv('weather.csv')
weather.head()

,dt,dt_iso,timezone,city_name,lat,lon,temp,visibility,dew_point,feels_like,temp_min,temp_max,pressure,sea_level,grnd_level,humidity,wind_speed,wind_deg,wind_gust,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,1199145600,2008-01-01 00:00:00 +0000 UTC,0,Custom location,51.497256,-0.098179,9.07,5000.0,7.19,8.03,7.99,9.4,1027,NaN,NaN,88,2.1,270,NaN,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n
1,1199149200,2008-01-01 01:00:00 +0000 UTC,0,Custom location,51.497256,-0.098179,8.92,5000.0,7.37,8.92,7.99,9.2,1026,NaN,NaN,90,1.0,260,NaN,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n
2,1199152800,2008-01-01 02:00:00 +0000 UTC,0,Custom location,51.497256,-0.098179,8.69,4900.0,7.14,7.58,7.85,8.9,1026,NaN,NaN,90,2.1,210,NaN,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n
3,1199156400,2008-01-01 03:00:00 +0000 UTC,0,Custom location,51.497256,-0.098179,8.69,4100.0,7.14,8.15,7.25,8.9,1025,NaN,NaN,90,1.5,210,NaN,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n
4,1199160000,2008-01-01 04:00:00 +0000 UTC,0,Custom location,51.497256,-0.098179,9.00,3900.0,7.45,8.51,7.45,9.3,1025,NaN,NaN,90,1.5,220,NaN,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n

In [4]:
weather.shape

(35267, 28)

In [5]:
list(weather.columns)

['dt',
 'dt_iso',
 'timezone',
 'city_name',
 'lat',
 'lon',
 'temp',
 'visibility',
 'dew_point',
 'feels_like',
 'temp_min',
 'temp_max',
 'pressure',
 'sea_level',
 'grnd_level',
 'humidity',
 'wind_speed',
 'wind_deg',
 'wind_gust',
 'rain_1h',
 'rain_3h',
 'snow_1h',
 'snow_3h',
 'clouds_all',
 'weather_id',
 'weather_main',
 'weather_description',
 'weather_icon']

In [6]:
#cleaning up the file to remove columns with all/many NaNs, columns with no variance, etc.)

In [7]:
weather2 = weather.drop(['dt','timezone', 'city_name', 'lat', 'lon', 'sea_level', 'grnd_level', 'wind_gust', 'rain_1h', 'rain_3h', 'snow_1h', 'snow_3h','visibility','dew_point'],axis=1)
weather2.head()

,dt_iso,temp,feels_like,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,2008-01-01 00:00:00 +0000 UTC,9.07,8.03,7.99,9.4,1027,88,2.1,270,75,803,Clouds,broken clouds,04n
1,2008-01-01 01:00:00 +0000 UTC,8.92,8.92,7.99,9.2,1026,90,1.0,260,90,804,Clouds,overcast clouds,04n
2,2008-01-01 02:00:00 +0000 UTC,8.69,7.58,7.85,8.9,1026,90,2.1,210,75,803,Clouds,broken clouds,04n
3,2008-01-01 03:00:00 +0000 UTC,8.69,8.15,7.25,8.9,1025,90,1.5,210,75,803,Clouds,broken clouds,04n
4,2008-01-01 04:00:00 +0000 UTC,9.00,8.51,7.45,9.3,1025,90,1.5,220,90,804,Clouds,overcast clouds,04n

In [8]:
weather2.dtypes

dt_iso                  object
temp                   float64
feels_like             float64
temp_min               float64
temp_max               float64
pressure                 int64
humidity                 int64
wind_speed             float64
wind_deg                 int64
clouds_all               int64
weather_id               int64
weather_main            object
weather_description     object
weather_icon            object
dtype: object

In [9]:
weather2.weather_main.value_counts(normalize=True)

Clouds          0.469050
Clear           0.350810
Rain            0.144129
Mist            0.017268
Drizzle         0.006919
Snow            0.004849
Haze            0.003743
Fog             0.002637
Thunderstorm    0.000595
Name: weather_main, dtype: float64

In [10]:
weather2.weather_icon.value_counts(normalize=True)

01n    0.211387
04n    0.143165
01d    0.139422
04d    0.119602
10d    0.075453
02d    0.074092
03d    0.068449
10n    0.053421
02n    0.035189
03n    0.028554
09d    0.017126
50d    0.016134
50n    0.007514
09n    0.005047
13n    0.002467
13d    0.002382
11d    0.000539
11n    0.000057
Name: weather_icon, dtype: float64

In [11]:
#Both columns with objects have a reasonably low number of categories so won't be a problem to categorize later on.

In [12]:
round(weather2.isna().sum()/len(weather2),4)*100

dt_iso                 0.0
temp                   0.0
feels_like             0.0
temp_min               0.0
temp_max               0.0
pressure               0.0
humidity               0.0
wind_speed             0.0
wind_deg               0.0
clouds_all             0.0
weather_id             0.0
weather_main           0.0
weather_description    0.0
weather_icon           0.0
dtype: float64

In [13]:
#we had some NaNs in the visibility column, but column was dropped as not present in the "current weather" df.

In [14]:
#Now let's tackle the dt_iso - remove part of the string and convert the rest to an actual datetime.

In [15]:
weather2['dt_iso'] = weather2['dt_iso'].str[:-10]

In [16]:
weather2['dt_iso'] = pd.to_datetime(weather2['dt_iso'], format='%Y-%m-%d %H:%M:%S')

In [17]:
weather2.dtypes

dt_iso                 datetime64[ns]
temp                          float64
feels_like                    float64
temp_min                      float64
temp_max                      float64
pressure                        int64
humidity                        int64
wind_speed                    float64
wind_deg                        int64
clouds_all                      int64
weather_id                      int64
weather_main                   object
weather_description            object
weather_icon                   object
dtype: object

In [18]:
#weather2.to_csv('weather_clean.csv',index=False)

In [19]:
#weather_clean = pd.read_csv('weather_clean.csv')

In [20]:
#weather_clean.head()

In [21]:
#weather_clean.dtypes

In [22]:
#after going to csv and back the dt_iso is back to an object!

# Now the sales data

In [23]:
sales = pd.read_csv('sales.csv')
sales.head()

,Unnamed: 0,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID
0,0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0
1,1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0
2,2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0
3,3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0
4,4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0

In [24]:
sales = sales.drop(['Unnamed: 0'],axis=1)

In [25]:
sales.shape

(981330, 7)

In [26]:
sales = sales.drop_duplicates()

In [27]:
sales.shape

(948321, 7)

In [28]:
sales.dtypes

Invoice         object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
Price          float64
Customer ID    float64
dtype: object

In [29]:
sales['dt_iso'] = pd.to_datetime(sales['InvoiceDate'], format='%Y-%m-%d %H:%M:%S')

In [30]:
sales.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,dt_iso
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,2009-12-01 07:45:00
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,2009-12-01 07:45:00
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,2009-12-01 07:45:00
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,2009-12-01 07:45:00
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,2009-12-01 07:45:00

In [31]:
sales.dtypes

Invoice                object
StockCode              object
Description            object
Quantity                int64
InvoiceDate            object
Price                 float64
Customer ID           float64
dt_iso         datetime64[ns]
dtype: object

# Now the current weather data/API call

In [32]:
import requests

In [33]:
#delete API key before uploading to Github!!!

In [36]:
response = requests.get("http://api.openweathermap.org/data/2.5/find?q=London,UK&units=metric&appid=XXXXXX")

In [37]:
response

In [38]:
print(response.json())

{'message': 'accurate', 'cod': '200', 'count': 1, 'list': [{'id': 2643743, 'name': 'London', 'coord': {'lat': 51.5085, 'lon': -0.1257}, 'main': {'temp': 6.12, 'feels_like': 4.09, 'temp_min': 4.2, 'temp_max': 8.26, 'pressure': 1021, 'humidity': 62}, 'dt': 1646669353, 'wind': {'speed': 2.68, 'deg': 85}, 'sys': {'country': 'GB'}, 'rain': None, 'snow': None, 'clouds': {'all': 40}, 'weather': [{'id': 802, 'main': 'Clouds', 'description': 'scattered clouds', 'icon': '03d'}]}]}

In [39]:
current = response.text
current_df = pd.read_json(current, orient='records')
current_df

    message  cod  count                                               list
0  accurate  200      1  {'id': 2643743, 'name': 'London', 'coord': {'l...

In [40]:
flat1 = json_normalize(current_df['list'])
flat1_df = pd.DataFrame(flat1)
flat1_df = flat1_df.drop(['id','weather'],axis=1)
flat1_df

,name,dt,rain,snow,coord.lat,coord.lon,main.temp,main.feels_like,main.temp_min,main.temp_max,main.pressure,main.humidity,wind.speed,wind.deg,sys.country,clouds.all
0,London,1646669353,None,None,51.5085,-0.1257,6.12,4.09,4.2,8.26,1021,62,2.68,85,GB,40

In [41]:
weather_col = json_normalize(flat1['weather'][0])
weather_df = pd.DataFrame(weather_col)
weather_df

    id    main       description icon
0  802  Clouds  scattered clouds  03d

In [42]:
current_weather = pd.concat([flat1_df,weather_df],axis=1)
current_weather

,name,dt,rain,snow,coord.lat,coord.lon,main.temp,main.feels_like,main.temp_min,main.temp_max,main.pressure,main.humidity,wind.speed,wind.deg,sys.country,clouds.all,id,main,description,icon
0,London,1646669353,None,None,51.5085,-0.1257,6.12,4.09,4.2,8.26,1021,62,2.68,85,GB,40,802,Clouds,scattered clouds,03d

In [43]:
#Now we need to "format" the current weather df so it matches the weather 2 df for modelling later.

In [44]:
list(weather2.columns)

['dt_iso',
 'temp',
 'feels_like',
 'temp_min',
 'temp_max',
 'pressure',
 'humidity',
 'wind_speed',
 'wind_deg',
 'clouds_all',
 'weather_id',
 'weather_main',
 'weather_description',
 'weather_icon']

In [45]:
list(current_weather.columns)

['name',
 'dt',
 'rain',
 'snow',
 'coord.lat',
 'coord.lon',
 'main.temp',
 'main.feels_like',
 'main.temp_min',
 'main.temp_max',
 'main.pressure',
 'main.humidity',
 'wind.speed',
 'wind.deg',
 'sys.country',
 'clouds.all',
 'id',
 'main',
 'description',
 'icon']

In [46]:
#dropping columns from current_weather that are not present in the historical weather data/not needed

In [47]:
current_weather = current_weather.drop(['name',
 'dt',
 'rain',
 'snow',
 'coord.lat',
 'coord.lon','sys.country'], axis=1)

In [48]:
#Now have to rename the columns so they match.

In [49]:
current_weather = current_weather.rename(columns={
    'main.temp':'temp',
 'main.feels_like':'feels_like',
 'main.temp_min':'temp_min',
 'main.temp_max':'temp_max',
 'main.pressure':'pressure',
 'main.humidity':'humidity',
 'wind.speed':'wind_speed',
 'wind.deg':'wind_deg',
 'clouds.all':'clouds_all',
 'id':'weather_id',
 'main':'weather_main',
 'description':'weather_description',
 'icon':'weather_icon'})

In [50]:
current_weather

,temp,feels_like,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,6.12,4.09,4.2,8.26,1021,62,2.68,85,40,802,Clouds,scattered clouds,03d

In [51]:
#Now putting all the current_weather cleaning into one function:

In [52]:
def clean_current_weather(response):
    current = response.text
    current_df = pd.read_json(current, orient='records')
    flat1 = json_normalize(current_df['list'])
    flat1_df = flat1.drop(['id','weather'],axis=1)
    weather_df = json_normalize(flat1['weather'][0])
    current_weather = pd.concat([flat1_df,weather_df],axis=1)
    current_weather = current_weather.drop(['name','dt','rain','snow','coord.lat','coord.lon','sys.country'], axis=1)
    current_weather = current_weather.rename(columns={
    'main.temp':'temp',
    'main.feels_like':'feels_like',
    'main.temp_min':'temp_min',
    'main.temp_max':'temp_max',
    'main.pressure':'pressure',
    'main.humidity':'humidity',
    'wind.speed':'wind_speed',
    'wind.deg':'wind_deg',
    'clouds.all':'clouds_all',
    'id':'weather_id',
    'main':'weather_main',
    'description':'weather_description',
    'icon':'weather_icon'})
    return (current_weather)
current_weather = clean_current_weather(response)
current_weather

,temp,feels_like,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,6.12,4.09,4.2,8.26,1021,62,2.68,85,40,802,Clouds,scattered clouds,03d

# Now we join the sales and the historical weather information for modelling

In [53]:
#Of course the date/time stamps of the sale don't match exactly the historical weather data (hourly record), so we'll have to "merge_asof"

In [59]:
data= pd.merge_asof(sales,weather2, on='dt_iso')
data.tail(60)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,dt_iso,temp,feels_like,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,clouds_all,weather_id,weather_main,weather_description,weather_icon
948261,581579,23344,JUMBO BAG 50'S CHRISTMAS,20,2011-12-09 12:19:00,1.79,17581.0,2011-12-09 12:19:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948262,581579,23581,JUMBO BAG PAISLEY PARK,40,2011-12-09 12:19:00,1.79,17581.0,2011-12-09 12:19:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948263,581581,23562,SET OF 6 RIBBONS PERFECTLY PRETTY,6,2011-12-09 12:20:00,2.89,17581.0,2011-12-09 12:20:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948264,581581,23561,SET OF 6 RIBBONS PARTY,6,2011-12-09 12:20:00,2.89,17581.0,2011-12-09 12:20:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948265,581581,23681,LUNCH BAG RED VINTAGE DOILY,10,2011-12-09 12:20:00,1.65,17581.0,2011-12-09 12:20:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948266,581580,23334,IVORY WICKER HEART SMALL,4,2011-12-09 12:20:00,0.63,12748.0,2011-12-09 12:20:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948267,581580,21790,VINTAGE SNAP CARDS,1,2011-12-09 12:20:00,0.85,12748.0,2011-12-09 12:20:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948268,581580,84993A,75 GREEN PETIT FOUR CASES,2,2011-12-09 12:20:00,0.42,12748.0,2011-12-09 12:20:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948269,581580,22906,12 MESSAGE CARDS WITH ENVELOPES,1,2011-12-09 12:20:00,1.65,12748.0,2011-12-09 12:20:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948270,581580,21803,CHRISTMAS TREE STAR DECORATION,2,2011-12-09 12:20:00,0.42,12748.0,2011-12-09 12:20:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948271,581580,21809,CHRISTMAS HANGING TREE WITH BELL,2,2011-12-09 12:20:00,0.39,12748.0,2011-12-09 12:20:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948272,581580,20974,12 PENCILS SMALL TUBE SKULL,1,2011-12-09 12:20:00,0.65,12748.0,2011-12-09 12:20:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948273,581580,23338,EGG FRYING PAN RED,1,2011-12-09 12:20:00,2.08,12748.0,2011-12-09 12:20:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948274,581580,85049A,TRADITIONAL CHRISTMAS RIBBONS,1,2011-12-09 12:20:00,1.25,12748.0,2011-12-09 12:20:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948275,581580,23126,FELTCRAFT GIRL AMELIE KIT,1,2011-12-09 12:20:00,4.95,12748.0,2011-12-09 12:20:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948276,581580,22695,WICKER WREATH SMALL,1,2011-12-09 12:20:00,0.59,12748.0,2011-12-09 12:20:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948277,581580,22144,CHRISTMAS CRAFT LITTLE FRIENDS,1,2011-12-09 12:20:00,2.10,12748.0,2011-12-09 12:20:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948278,581580,22908,PACK OF 20 NAPKINS RED APPLES,2,2011-12-09 12:20:00,0.85,12748.0,2011-12-09 12:20:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948279,581580,22894,TABLECLOTH RED APPLES DESIGN,2,2011-12-09 12:20:00,9.95,12748.0,2011-12-09 12:20:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948280,581580,22704,WRAP RED APPLES,25,2011-12-09 12:20:00,0.42,12748.0,2011-12-09 12:20:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948281,581580,22721,SET OF 3 CAKE TINS SKETCHBOOK,1,2011-12-09 12:20:00,1.95,12748.0,2011-12-09 12:20:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948282,581580,22816,CARD MOTORBIKE SANTA,24,2011-12-09 12:20:00,0.42,12748.0,2011-12-09 12:20:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948283,581580,85049E,SCANDINAVIAN REDS RIBBONS,2,2011-12-09 12:20:00,1.25,12748.0,2011-12-09 12:20:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948284,581580,22075,6 RIBBONS ELEGANT CHRISTMAS,2,2011-12-09 12:20:00,0.39,12748.0,2011-12-09 12:20:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948285,581580,21351,CINAMMON & ORANGE WREATH,1,2011-12-09 12:20:00,6.75,12748.0,2011-12-09 12:20:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948286,581580,22698,PINK REGENCY TEACUP AND SAUCER,1,2011-12-09 12:20:00,2.95,12748.0,2011-12-09 12:20:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948287,581580,22567,20 DOLLY PEGS RETROSPOT,1,2011-12-09 12:20:00,1.45,12748.0,2011-12-09 12:20:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948288,581580,79321,CHILLI LIGHTS,2,2011-12-09 12:20:00,5.75,12748.0,2011-12-09 12:20:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948289,581580,37500,TEA TIME TEAPOT IN GIFT BOX,1,2011-12-09 12:20:00,4.95,12748.0,2011-12-09 12:20:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948290,581582,23552,BICYCLE PUNCTURE REPAIR KIT,6,2011-12-09 12:21:00,2.08,17581.0,2011-12-09 12:21:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948291,581582,23498,CLASSIC BICYCLE CLIPS,12,2011-12-09 12:21:00,1.45,17581.0,2011-12-09 12:21:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948292,581583,20725,LUNCH BAG RED RETROSPOT,40,2011-12-09 12:23:00,1.45,13777.0,2011-12-09 12:23:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948293,581583,85038,6 CHOCOLATE LOVE HEART T-LIGHTS,36,2011-12-09 12:23:00,1.85,13777.0,2011-12-09 12:23:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948294,581584,20832,RED FLOCK LOVE HEART PHOTO FRAME,72,2011-12-09 12:25:00,0.72,13777.0,2011-12-09 12:25:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948295,581584,85038,6 CHOCOLATE LOVE HEART T-LIGHTS,48,2011-12-09 12:25:00,1.85,13777.0,2011-12-09 12:25:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948296,581585,22481,BLACK TEA TOWEL CLASSIC DESIGN,12,2011-12-09 12:31:00,0.39,15804.0,2011-12-09 12:31:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948297,581585,22915,ASSORTED BOTTLE TOP MAGNETS,24,2011-12-09 12:31:00,0.19,15804.0,2011-12-09 12:31:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948298,581585,22178,VICTORIAN GLASS HANGING T-LIGHT,12,2011-12-09 12:31:00,1.95,15804.0,2011-12-09 12:31:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948299,581585,22460,EMBOSSED GLASS TEALIGHT HOLDER,12,2011-12-09 12:31:00,1.25,15804.0,2011-12-09 12:31:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948300,581585,84832,ZINC WILLIE WINKIE CANDLE STICK,24,2011-12-09 12:31:00,0.85,15804.0,2011-12-09 12:31:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948301,581585,23084,RABBIT NIGHT LIGHT,12,2011-12-09 12:31:00,2.08,15804.0,2011-12-09 12:31:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948302,581585,84879,ASSORTED COLOUR BIRD ORNAMENT,16,2011-12-09 12:31:00,1.69,15804.0,2011-12-09 12:31:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948303,581585,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,24,2011-12-09 12:31:00,0.85,15804.0,2011-12-09 12:31:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948304,581585,22113,GREY HEART HOT WATER BOTTLE,4,2011-12-09 12:31:00,4.25,15804.0,2011-12-09 12:31:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948305,581585,23356,LOVE HOT WATER BOTTLE,3,2011-12-09 12:31:00,5.95,15804.0,2011-12-09 12:31:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948306,581585,22726,ALARM CLOCK BAKELIKE GREEN,8,2011-12-09 12:31:00,3.75,15804.0,2011-12-09 12:31:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948307,581585,22727,ALARM CLOCK BAKELIKE RED,4,2011-12-09 12:31:00,3.75,15804.0,2011-12-09 12:31:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948308,581585,16016,LARGE CHINESE STYLE SCISSOR,10,2011-12-09 12:31:00,0.85,15804.0,2011-12-09 12:31:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948309,581585,21916,SET 12 RETRO WHITE CHALK STICKS,24,2011-12-09 12:31:00,0.42,15804.0,2011-12-09 12:31:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948310,581585,84692,BOX OF 24 COCKTAIL PARASOLS,25,2011-12-09 12:31:00,0.42,15804.0,2011-12-09 12:31:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948311,581585,84946,ANTIQUE SILVER T-LIGHT GLASS,12,2011-12-09 12:31:00,1.25,15804.0,2011-12-09 12:31:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948312,581585,21684,SMALL MEDINA STAMPED METAL BOWL,12,2011-12-09 12:31:00,0.85,15804.0,2011-12-09 12:31:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948313,581585,22398,MAGNETS PACK OF 4 SWALLOWS,12,2011-12-09 12:31:00,0.39,15804.0,2011-12-09 12:31:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948314,581585,23328,SET 6 SCHOOL MILK BOTTLES IN CRATE,4,2011-12-09 12:31:00,3.75,15804.0,2011-12-09 12:31:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948315,581585,23145,ZINC T-LIGHT HOLDER STAR LARGE,12,2011-12-09 12:31:00,0.95,15804.0,2011-12-09 12:31:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948316,581585,22466,FAIRY TALE COTTAGE NIGHT LIGHT,12,2011-12-09 12:31:00,1.95,15804.0,2011-12-09 12:31:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948317,581586,22061,LARGE CAKE STAND HANGING STRAWBERY,8,2011-12-09 12:49:00,2.95,13113.0,2011-12-09 12:49:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948318,581586,23275,SET OF 3 HANGING OWLS OLLIE BEAK,24,2011-12-09 12:49:00,1.25,13113.0,2011-12-09 12:49:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948319,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,13113.0,2011-12-09 12:49:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d
948320,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,13113.0,2011-12-09 12:49:00,7.83,4.42,7.13,7.99,1011,58,6.2,250,0,800,Clear,sky is clear,01d

Invoice                        object
StockCode                      object
Description                    object
Quantity                        int64
InvoiceDate                    object
Price                         float64
Customer ID                   float64
dt_iso                 datetime64[ns]
temp                          float64
feels_like                    float64
temp_min                      float64
temp_max                      float64
pressure                        int64
humidity                        int64
wind_speed                    float64
wind_deg                        int64
clouds_all                      int64
weather_id                      int64
weather_main                   object
weather_description            object
weather_icon                   object
dtype: object

dt_iso                 datetime64[ns]
temp                          float64
feels_like                    float64
temp_min                      float64
temp_max                      float64
pressure                        int64
humidity                        int64
wind_speed                    float64
wind_deg                        int64
clouds_all                      int64
weather_id                      int64
weather_main                   object
weather_description            object
weather_icon                   object
dtype: object